#git rm --cached .classpath
#git rm -r --cached .settings

#Linux files
*~

#Windows file
Thumbs.db

#Maven directories
target/

#Eclipse files and directories
.classpath
.project
.settings/
bin/
.metadata/

*.class

#Package files
#*.jar
*.war
*.ear

#Jasper files
#*.jasper

#Bibliotecas do projeto
project-libs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

